# 要对 MyBatis-Flex 的 APT 细节选项进行配置，你需要在项目的 根目录 （ pom.xml 所在的目录）下创建名为 mybatis-flex.config 的文件。
# MyBatis-Flex APT 配置 - MyBatis-Flex 官方网站
# https://mybatis-flex.com/zh/others/apt.html

# 全局启用apt开关 默认为true
processor.enable=true
# 开启 Mapper 自动生成 默认为false
processor.mapper.generateEnable=true
# 自定义 Mapper 生成的包名 默认 ${entityPackage}.mapper 则此处为 com.lc.mapper
# processor.mapper.package=com.lc.mapper
